<div class="link-card-favicon flex h-12 w-12 shrink-0 items-center justify-center">
    {% with icon_url=link.url|favicon_url %}
        {% if icon_url %}
            <img
                src="{{ icon_url }}"
                alt=""
                width="48"
                height="48"
                class="h-10 w-10 object-contain"
                loading="lazy"
                referrerpolicy="no-referrer"
                onerror="this.closest('.link-card-favicon').hidden=true;"
            >
        {% endif %}
    {% endwith %}
</div>
